.flashcard-container {
    border: 1px solid #707070; 
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.7s;
    /* background: whitesmoke; */
    background-size: 200% 200%;
    transition: background-position 0.7s ease-in-out;
  }
  
  .flashcard-container:hover {
    transform: scale(1.05); 
  }
  
  .flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease-in-out, background-position 0.7s ease-in-out;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .is-flipped {
    transform: rotateY(180deg);
    background-position: right center;
  }
  
  .flashcard-front,
  .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .flashcard-back {
    transform: rotateY(180deg);
    background-color: #fce055;
    background-image: linear-gradient(319deg, #fce055 0%, #256eff 37%, #46237a 100%);
  }

  .flashcard-front{
    background-color: #fce055;
    background-image: linear-gradient(319deg, #fce055 0%, #256eff 37%, #46237a 100%);
  }
  
  /* Share Button Styling */
  .share-button {
    /* position: absolute; */
    /* bottom: -2rem; /* Position below the flashcard */
    /* left: 50%; */ 
    transform: translateX(-50%);
    background-color: #1dd1a1;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .share-button:hover {
    background-color: #10ac84;
  }
  